:root {
  --white-color: white;
  --black-color: black;
  --photo-filtr: invert(0);
  --menu-background: #35444f;
  --header-color: #4bcaff;
}

body {
  width: 1480px;
  height: 1282px;
  min-width: 1280px;
  background: var(--white-color);
  flex-shrink: 0;
}

a {
  text-decoration: none;
}

.conteiner {
  text-align: center;
}
.top-title {
  display: flex;
  min-width: 334px;
  flex-direction: column;
  align-items: flex-end;
}
.changeGama {
  font-size: 27px;

  margin-right: 80px;
  margin-bottom: 5px;
}

.container-header-title {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-span {
  color: var(--header-color);
}

.container-header-title {
  display: flex;
  justify-content: flex-start;
  margin: 63px 1048px 10px 98px;
}

.header-title--color {
  color: var(--black-color);
}

.container-header-menu {
  width: 1280px;
  height: 69px;
  background-color: var(--menu-background);
  margin-inline: 100px;
  padding: 0 10px;
}

.header-menu-items {
  display: flex;
  height: 69px;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
}

.top-menu-item {
  border-left: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
  padding: 0 30px;
  height: 69px;
  line-height: 69px;
}

.top-menu-item:not(:first-child) {
  border-left: none;
}

.top-menu-item a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.content {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 49px;
  margin-bottom: 54px;
}

.left-menu {
  display: flex;
  border: 1px solid #000;
  width: 344px;
  height: 399px;
}

.left-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 27px;
  margin-left: 38px;
}

.left-menu-item {
  display: flex;
}

.left-menu-item a {
  color: var(--black-color);
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.content-side {
  display: flex;
  flex-direction: column;
  width: 885px;
  box-sizing: border-box;
}

.content-photo {
  display: flex;
  width: 885px;
  height: 529px;
  border: 1px solid #000;
  margin-left: 53px;
  filter: var(--photo-filtr);
}

.photo {
  margin: 75px 268px 73px 297px;
}

.content-side-text {
  margin-left: 53px;
  margin-top: 37px;
}

.content-text {
  width: 885px;
  color: var(--black-color);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.footer {
  display: flex;
  width: 1280px;
  background: rgba(99, 105, 110, 0.48);
  margin-left: 100px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.bottom-menu {
  display: flex;
  flex-direction: row;
}

.bottom-menu-list {
  display: flex;
  width: 875px;
  padding: 0;
  justify-content: space-between;
  margin-left: 40px;
}

.botom-menu-item {
  display: flex;
  color: var(--black-color);
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  justify-content: space-between;
}

.botom-menu-item a {
  color: var(--black-color);
}

.footer-copyright {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin-right: 40px;
  color: var(--black-color);
}
